<div class="card">
  <table class="table table-hover" >
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">SurName</th>
        <th scope="col">DOB</th>
        <th scope="col">Gender</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let registerPatient of registerDataList">
        <td>{{ registerPatient.name }}</td>
        <td>{{ registerPatient.surName }}</td>
        <td>{{ registerPatient.dob}}</td>
        <td>{{ registerPatient.gender }}</td>
      </tr>
    </tbody>
  </table>
</div>
